<div class="container">
{{#if successMsg}}
<div style="background: #F8F9FA;; color: black; font-weight: bold; font-size: 20px; text-align: center; padding: 10px; margin-top:10px">{{successMsg}}</div>
{{/if}}
<h1 style= "text-decoration: underline">Este es tu área personal {{theUser.username}}</h1>

<div class="row">

<div class="col-md-6">

      <img src="https://image.freepik.com/foto-gratis/chica-joven-sonriendo_1149-286.jpg" alt="user_image" class="user-image">

</div>

<div class="col-md-6 text-user">

    <p> <strong>Usuario: </strong> Carmen_fr</p>
    <p> <strong>Nombre: </strong>Carmen Fernández</p>
    <p> <strong>Email de contacto: </strong>carmen.fernandez@gmail.com</p>
    <p> <strong>Número de contacto: </strong>66666666</p>

    <h5> Valoración como usuario</h5>
<form>
    <p class="clasificacion">
    <label for="radio1">★</label>
    <label for="radio2">★</label>
    <label for="radio3">★</label>
    <label for="radio4">★</label>
    <label for="radio5">★</label>
    </p>
</form>

    

</div>


</div>

<h3>Estos son tus viajes publicados</h3>

<h4> Viaje 1</h4>
<hr>
<div class="row">
<div class="col-md-6">
<ul>
    <li>Madrid - Sevilla</li>
    <li>24 de marzo</li>
    <li>Hora de salida: 19:00</li>
    <li>Plazas libres: 3</li>
</ul>
</div>

<div class="col-md-6">
<img src="https://2.bp.blogspot.com/-ufrUdR0htic/UJOA1SK4h3I/AAAAAAAAAGQ/Avc1jc0M-ww/s1600/como-dibujar-rutas-google-maps.PNG" alt="user_image" class="user-image">
</div>

</div>
</div>

</div>