<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <h1>Registro</h1>

            <form method="POST" action="/signup">

                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" name="username">
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" name="lastName">
                </div>

                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" name="phoneNumber">
                </div>

                <button type="submit" class="button btn-block">Registrarme</button>

                {{#if errorMsg}}
                <div style="background: red; color: white; text-align: center; padding: 10px; margin-top:10px; border-radius: 0 10%">
                    {{errorMsg}}</div>
                {{/if}}

            </form>
        </div>
    </div>
</div>