<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-col">
                <h3>Autores</h3>
                <p>Manuel de la Barreda<br>Javier Fernández</p>
            </div>
            <div class="col-md-6 footer-col">
                <h3>{{title}}</h3>
                <p>Proyecto para el Bootcamp de Web Development de Ironhack</p>
            </div>
        </div>
    </div>
</footer>