<div class="container">

    <h1>Route Details</h1>
    <h3> Estos son los detalles del viaje</h3>

    <div id="travelMap"></div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp8zZa3dzt_g6voRaMdianSDuD-CpQPLE&callback=initMap"></script>
<script type="text/javascript" src="/javascripts/placemap.js"></script>
